# By default, this docker-compose setup uses Kafka 2.5.0
#
# See https://hub.docker.com/r/bitnami/kafka/tags for the complete list.
version: '3'
services:
  zookeeper:
    container_name: zookeeper
    hostname: zookeeper
    image: bitnami/zookeeper:latest
    ports:
      - "2181:2181"
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes

  # Zone 1 brokers
  kafka1:
    container_name: kafka1
    hostname: 169.254.123.123
    image: bitnami/kafka:2.5.0
    ports:
      - "9092:9092"
    environment:
      KAFKA_CFG_BROKER_ID: 1
      KAFKA_CFG_BROKER_RACK: zone1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181

      ALLOW_PLAINTEXT_LISTENER: yes
      KAFKA_CFG_LISTENERS: PLAINTEXT://:9092
      KAFKA_CFG_ADVERTISED_LISTENERS: PLAINTEXT://169.254.123.123:9092
    restart: on-failure
    depends_on:
      - zookeeper

  kafka2:
    container_name: kafka2
    hostname: 169.254.123.123
    image: bitnami/kafka:2.5.0
    ports:
      - "9093:9092"
    environment:
      KAFKA_CFG_BROKER_ID: 2
      KAFKA_CFG_BROKER_RACK: zone1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181

      ALLOW_PLAINTEXT_LISTENER: yes
      KAFKA_CFG_LISTENERS: PLAINTEXT://:9092
      KAFKA_CFG_ADVERTISED_LISTENERS: PLAINTEXT://169.254.123.123:9093
    restart: on-failure
    depends_on:
      - zookeeper

  # Zone 2 brokers
  kafka3:
    container_name: kafka3
    hostname: 169.254.123.123
    image: bitnami/kafka:2.5.0
    ports:
      - "9094:9092"
    environment:
      KAFKA_CFG_BROKER_ID: 3
      KAFKA_CFG_BROKER_RACK: zone2
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181

      ALLOW_PLAINTEXT_LISTENER: yes
      KAFKA_CFG_LISTENERS: PLAINTEXT://:9092
      KAFKA_CFG_ADVERTISED_LISTENERS: PLAINTEXT://169.254.123.123:9094
    restart: on-failure
    depends_on:
      - zookeeper

  kafka4:
    container_name: kafka4
    hostname: 169.254.123.123
    image: bitnami/kafka:2.5.0
    ports:
      - "9095:9092"
    environment:
      KAFKA_CFG_BROKER_ID: 4
      KAFKA_CFG_BROKER_RACK: zone2
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181

      ALLOW_PLAINTEXT_LISTENER: yes
      KAFKA_CFG_LISTENERS: PLAINTEXT://:9092
      KAFKA_CFG_ADVERTISED_LISTENERS: PLAINTEXT://169.254.123.123:9095
    restart: on-failure
    depends_on:
      - zookeeper

  # Zone 3 brokers
  kafka5:
    container_name: kafka5
    hostname: 169.254.123.123
    image: bitnami/kafka:2.5.0
    ports:
      - "9096:9092"
    environment:
      KAFKA_CFG_BROKER_ID: 5
      KAFKA_CFG_BROKER_RACK: zone3
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181

      ALLOW_PLAINTEXT_LISTENER: yes
      KAFKA_CFG_LISTENERS: PLAINTEXT://:9092
      KAFKA_CFG_ADVERTISED_LISTENERS: PLAINTEXT://169.254.123.123:9096
    restart: on-failure
    depends_on:
      - zookeeper

  kafka6:
    container_name: kafka6
    hostname: 169.254.123.123
    image: bitnami/kafka:2.5.0
    ports:
      - "9097:9092"
    environment:
      KAFKA_CFG_BROKER_ID: 6
      KAFKA_CFG_BROKER_RACK: zone3
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181

      ALLOW_PLAINTEXT_LISTENER: yes
      KAFKA_CFG_LISTENERS: PLAINTEXT://:9092
      KAFKA_CFG_ADVERTISED_LISTENERS: PLAINTEXT://169.254.123.123:9097
    restart: on-failure
    depends_on:
      - zookeeper
