version: '2.1'
services:
  zookeeper:
    image: wurstmeister/zookeeper
    ports:
      - "2181:2181"

  # Zone 1 brokers
  kafka1:
    image: wurstmeister/kafka:${KAFKA_IMAGE_TAG:-2.11-0.10.2.2}
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_BROKER_RACK: zone1
      KAFKA_ADVERTISED_HOST_NAME: 169.254.123.123
      KAFKA_ADVERTISED_PORT: 9092
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
    restart: on-failure
    depends_on:
      - zookeeper

  kafka2:
    image: wurstmeister/kafka:${KAFKA_IMAGE_TAG:-2.11-0.10.2.2}
    ports:
      - "9093:9092"
    environment:
      KAFKA_BROKER_ID: 2
      KAFKA_BROKER_RACK: zone1
      KAFKA_ADVERTISED_HOST_NAME: 169.254.123.123
      KAFKA_ADVERTISED_PORT: 9093
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
    restart: on-failure
    depends_on:
      - zookeeper
      - kafka1

  # Zone 2 replicas
  kafka3:
    image: wurstmeister/kafka:${KAFKA_IMAGE_TAG:-2.11-0.10.2.2}
    ports:
      - "9094:9092"
    environment:
      KAFKA_BROKER_ID: 3
      KAFKA_BROKER_RACK: zone2
      KAFKA_ADVERTISED_HOST_NAME: 169.254.123.123
      KAFKA_ADVERTISED_PORT: 9094
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
    restart: on-failure
    depends_on:
      - zookeeper
      - kafka1
      - kafka2

  kafka4:
    image: wurstmeister/kafka:${KAFKA_IMAGE_TAG:-2.11-0.10.2.2}
    ports:
      - "9095:9092"
    environment:
      KAFKA_BROKER_ID: 4
      KAFKA_BROKER_RACK: zone2
      KAFKA_ADVERTISED_HOST_NAME: 169.254.123.123
      KAFKA_ADVERTISED_PORT: 9095
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
    restart: on-failure
    depends_on:
      - zookeeper
      - kafka1
      - kafka2
      - kafka3

  # Zone 3 brokers
  kafka5:
    image: wurstmeister/kafka:${KAFKA_IMAGE_TAG:-2.11-0.10.2.2}
    ports:
      - "9096:9092"
    environment:
      KAFKA_BROKER_ID: 5
      KAFKA_BROKER_RACK: zone3
      KAFKA_ADVERTISED_HOST_NAME: 169.254.123.123
      KAFKA_ADVERTISED_PORT: 9096
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
    restart: on-failure
    depends_on:
      - zookeeper
      - kafka1
      - kafka2
      - kafka3
      - kafka4

  kafka6:
    image: wurstmeister/kafka:${KAFKA_IMAGE_TAG:-2.11-0.10.2.2}
    ports:
      - "9097:9092"
    environment:
      KAFKA_BROKER_ID: 6
      KAFKA_BROKER_RACK: zone3
      KAFKA_ADVERTISED_HOST_NAME: 169.254.123.123
      KAFKA_ADVERTISED_PORT: 9097
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
    restart: on-failure
    depends_on:
      - zookeeper
      - kafka1
      - kafka2
      - kafka3
      - kafka4
      - kafka5
